<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/p_one.png">
    </ion-thumbnail>
    <ion-label>
      <h2>José dos Santos</h2>
      <h4>Brasil</h4>
      <p>19/01/1975</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/p_two.png">
    </ion-thumbnail>
    <ion-label>
      <h2>José dos Santos</h2>
      <h4>Brasil</h4>
      <p>19/01/1975</p>
    </ion-label>
  </ion-item>
</ion-content>