<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-info">
    <ion-item>
      <ion-avatar>
        <img src="assets/img/mamonas.png">
      </ion-avatar>
      <ion-card-header class="header-block">
        <h3>Big Head</h3>
        <p>Dono da Empresa!</p>
      </ion-card-header>
    </ion-item>
    <ion-card-content>
      O mais CDF e inteligente do Vale do Silicio!
    </ion-card-content>
    <ion-button fill="outline">Perfil</ion-button>
  </ion-card>
</ion-content>